<html>

<head>
	{% if title %}
	<title>{{ title }} - Мікроблог</title>
	{% else %}
	<title>Ласкаво просимо в мікроблог</title>
	{% endif %}
</head>

<div>
	Microblog:
	<a href="{{ url_for('index') }}">Головна</a>
	{% if current_user.is_anonymous %}
	<a href="{{ url_for('login') }}">Увійти</a>
	{% else %}
	<a href="{{ url_for('logout') }}">Вийти</a>
	{% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}{% endblock %}


</html>