{% extends "base.html" %}

{% block content %}
<table>
	<tr valign="top">
		<td><img src="{{ user.avatar(128) }}"></td>
		<td>
			<h1>Користувач: {{ user.username }}</h1>
			{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
			{% if user.last_seen %}<p>Останній візит на: {{ user.last_seen }}</p>{%endif %}
			<p>Ваших підписчиків (followers) {{ user.followers.count() }}. У вас в підписці (following)
				{{ user.followed.count() }}.</p>

			{% if user == current_user %}
			<p><a href="{{ url_for('edit_profile') }}">Редагувати свій профіль</a></p>
			{% elif not current_user.is_following(user) %}
			<p><a href="{{ url_for('follow', username=user.username) }}">Підписатись (Follow)</a></p>
            {% else %}
            <p><a href="{{ url_for('unfollow', username=user.username) }}">Відписатись (Unfollow)</a></p>
			{% endif %}
		</td>
	</tr>
</table>
<hr>

{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Новіші публікації</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Старіші дописи</a>
{% endif %}
{% endblock %}
